# 🔧 BACKEND JAVA
*.class
tasks.json

# 🔧 FRONTEND REACT  
node_modules/
.npm
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
coverage/

# 🔧 ENVIRONMENT VARIABLES
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 🔧 SISTEMA OPERACIONAL
.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/